body  {
  background-color: lightblue;
}

.header {
  color: white;
}

.TimeAndDate {
  font-family: verdana;
  font-size: 20px;
}

.App-logo {
  height: 150px;
  pointer-events: none;
  align-items: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    size: 100px
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
